<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <style type="text/css">
        table {border-collapse: collapse; font-size: 14px; width: 80%; margin: auto}
        table, th, td {border: 1px solid darkslategray;padding: 10px}
    </style>
</head>
<body>
<form action="/user/register" method="get">
    username: <input type="text" name="username">
    password: <input type="text" name="password">
    <button  type="submit">注册</button>
</form>
</body>
</html>